---
layout: default
title: Home
---

<div id="home">
  <ul class="posts list-unstyled">
    {% for post in paginator.posts %}
      <li>
        <a href="{{ post.source }}" class="screenshot-link" target="_blank">
          <div class="browser-frame">
            <div class="browser-top-bar">
              <div class="browser-button-wrapper">
                <div class="browser-button"></div>
                <div class="browser-button"></div>
                <div class="browser-button"></div>
              </div>
              <div class="browser-address"></div>
            </div>
            <div class="browser-container">
              {{ post.content }}
            </div>
          </div>
        </a>
        <div class="post-description">
          <h3 class="post-description-title"><a href="{{ post.url }}" class="post-description-link">{{ post.title }}</a></h3>
          <p class="post-description-date">{{ post.date | date: "%B %-d, %Y" }}</p>
        </div>
      </li>
    {% endfor %}
  </ul>
  {% include pagination.html %}
</div>
