<ul class="list-unstyled">
  <li class="nav-item">
    <a class="nav-link{% if page.title == "Home" %} nav-link-active{% endif %}" href="/">Home</a>
  </li>

  {% assign pages_list = site.pages %}
  {% for node in pages_list %}
    {% if node.title != null %}
      {% if node.layout == "page" %}
        <li class="nav-item">
          <a class="nav-link{% if page.url == node.url %} nav-link-active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
  <li class="nav-item">
    <a class="nav-link" href="/about/">Submit a site</a>
  </li>
</ul>

<hr class="main-sidebar-hr">

<ul class="list-unstyled">
  <li class="nav-item">
    <a class="nav-link" href="https://twitter.com/Beautiful_Open">Twitter</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/feed.xml">RSS</a>
  </li>
</ul>
