---
layout: default
---

<div class="posts">
  <div class="post-description">
    <h3 class="post-description-title"><a href="{{ page.url }}" class="post-description-link">{{ page.title }}</a></h3>
    <p class="post-description-date">{{ page.date | date: "%B %-d, %Y" }}</p>
  </div>

  <a href="{{ page.source }}" class="screenshot-link" target="_blank">
    <div class="browser-frame">
      <div class="browser-top-bar">
        <div class="browser-button-wrapper">
          <div class="browser-button"></div>
          <div class="browser-button"></div>
          <div class="browser-button"></div>
        </div>
        <div class="browser-address"></div>
      </div>
      <div class="browser-container">
        {{ page.content }}
      </div>
    </div>
  </a>
</div>
